
<div id="file-list-page" class="dragandrophandler">
  <h1 class="panel-heading">
    Encrypted File Browser
  </h1>
  <!-- /.panel-heading -->
  <div class="panel-body">
      <div class="row-fluid">
        <ol class="breadcrumb" id="pathNav"></ol>
      </div>
      <br/>
      <div class="dataTable_wrapper">
        <table id="files" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Groups Access</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot id="mkdir-footer" class="hidden">
            <tr>
              <td colspan="4">
                <form id="mkdir-form" data-toggle="validator">
                  <div id="mkdir" class="input-group">
                    <input id="mkdirname" type="text" class="form-control" placeholder="Create a folder..." pattern="[^/]*" title="anything with no slashes" required>
                    <span class="input-group-btn">
                      <button id="mkdirbtn" class="btn btn-success" type="submit"><i class="fa fa-plus"></i></button>
                  </span>
                </div>
              </form>
            </td>
          </tr>
        </tfoot>
      </table>
      <div id="dragandrophandler" class="hidden">
        <div class="overlay-message">Drop files here</div>
      </div>
    </div>
  </div>
</div>
 <!-- Button trigger modal -->
<button type="button" class="btn btn-success upload-queue" data-toggle="modal" data-keyboard="true" data-target="#uploadedFilesModal">
  Upload Queue <span id="counters" class="hidden"><span id="uploadedDocs">0</span> / <span id="totalDocs">0</span></span>
</button>
