<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
	</a>
	<ul class="dropdown-menu dropdown-user">
	    <li><a id="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
	    </li>
	</ul>
	<!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
	<ul class="nav"  id="side-menu">
	    <li>
		<a id="navListUserDir"><i class="fa fa-folder
			fa-fw"></i>Browse User Dir</a>
	    </li>
	    <li>
		<a ><i class="fa fa-group fa-fw"></i> Sharing Groups
		    <button class="btn btn-default btn-xs" type="button", id="createSharingGroupButton"><i class="fa fa-plus">
			</i></button>
			<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level", id="sharingGroupList">
		</ul>
		<!-- /.nav-second-level -->
	    </li>
	    <li>
		<a id="navListSearch"><i class="fa fa-search fa-fw"></i>Search</a>
	    </li>
	</ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
