<!-- Modal -->
<div class="modal fade" id="createShareModal" tabindex="-1" role="dialog" aria-labelledby="createShareModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Share an Element</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <label>Share name</label>
                  <input class="form-control" id="createShareName">
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="createShareSubmit">Create share</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
