<div class="modal fade dragandrophandler" id="uploadFileModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="uploadFileForm" enctype="multipart/form-data" role="form">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Upload files</h4>
				</div>
				<div class="modal-body">
					<div>Choose a file to upload from your file system, or just drag and drop one or more files directly.</div>
					<div id="messages"></div>
					<input type="file" name="file" id="file" multiple>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success">Upload</button>
				</div>
			</form>
		</div>
	</div>
</div>